@font-face {
	font-family: Debby;
	src: url(Shrifts/Debby.woff) format("woff") , url(Shrifts/Debby.woff2) format("woff2");
}
body {
 /*background: #B0E0E6*/;
 background: whitesmoke;
}
@font-face{
   font-family: LoveheartsXYZ;
   src: url(Shrifts/LoveheartsXYZ.woff) format("woff") , url(Shrifts/LoveheartsXYZ.woff2) format("woff2");
}
#sidebar ul li :first-child {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Debby;
  list-style: none;
  padding: 25px 10px 10px 10px;
}
#sidebar ul li a {
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {color: #59E9DF;}
#zag{
  text-align: center top;
  font-size: 50px; 
  color: white;
  font-family: LoveheartsXYZ;
}
.dws-menu{
 margin-top: 100px;
 width: 100%;
}
ul.dws-ul{
 display: flex;
 padding: 0;
 justify-content: center;
}
li.dws-li{
 list-style: none;
 padding: 10px;
}
li.dws-li a{
 text-decoration: none;
 font-size: 18px;
 color: #000;
 position: relative;
 padding: 5px;
}
li.dws-li a i{
 margin-right: 10px;
}
li.dws-li a::before{
 content: '';
 width: 0;
 height: 3px;
 background-color: #0332FB;
 position: absolute;
 top: 90%;
 left: 0;
 transition: .5s;
 mix-blend-mode: multiply;
}
li.dws-li a::after{
 content: '';
 width: 0;
 height: 3px;
 background-color: #42A8C0;
 position: absolute;
 top: 90%;
 right: 0;
 transition: .5s;
 mix-blend-mode: multiply;
}
li.dws-li:hover a::before{
 width: 50%;
 transform: translateX(100%);
}
li.dws-li:hover a::after{
 width: 50%;
 transform: translateX(-100%);
}
li.dws-li a:hover{
 color: #e62117;
}
