@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 14px;
  line-height: 22.4px;
  color: #040506; }

h1 {
  font-size: 65px;
  color: #2d3033; }

h2 {
  font-size: 40px;
  color: #2d3033; }

h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300; }

h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400; }

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700; }

.btn {
  background-color: #454ADE;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase; }
  .btn:hover, .btn:focus {
    background-color: #454ADE;
    color: #fff; }
  .btn-large {
    background-color: #454ADE
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 12px;
    width: 250px;
    padding: 15px 35px; }
.bttn{
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #808080;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 12px;
  width: 250px;
  padding: 15px 35px;
  }

/* ==========================================================================
	General Styles
========================================================================== */
a {
  color: #e84545; }

a:hover, a:focus {
  text-decoration: none;
  color: #fff;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #6c7279; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.section {
  margin-top: 100px;
 /* padding: 100px 0; */}

.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

/* ==========================================================================
	$Header
========================================================================== */
#header {
  position: fixed;
  width: 100%;
  z-index: 999; }
  #header .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    max-width: 1170px;
    padding: 40px 0;
    width: 100%;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s; }
  #header .nopppehiden{
    filter: alpha(Opacity=0);
      opacity: 0;  
  }

#header.fixed {
  background-color: whitesmoke;
  }
  #header.fixed .nopppehiden{
    z-index: 1000;
    filter: alpha(Opacity=1);
    opacity: 1;
    color: #939393;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase; 
  }
  #header.fixed .hiddden {
    filter: alpha(Opacity=0);
    opacity: 0; 
  }
  #header.fixed .header-content {
    border-bottom: 0;
    padding: 25px 0; }
  #header.fixed .nav-toggle {
    top: 18px; }

.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.navigation {
  float: right; }
  .navigation li {
    display: inline-block; }
  .navigation div{
    margin: 0;
    position: absolute;               
    top: 50%;    
    transform: translate(-400%, -50%) ;                 
  }
  .navigation p{
    white-space: pre;
    margin: 0;
    z-index: 1000;
    position: absolute;               
    top: 50%;    
    transform: translate(-465%, -50%);
  }
  .navigation a {
    /*color: rgba(255, 255, 255, 0.75);*/
    transform: translate(-200%, -50%) ;  
    margin: 0;
    color: #696969;
    font-size: 13px;
    font-weight: 700;
    margin-right: 40px;
    text-transform: uppercase; }
    .navigation a:hover, .navigation a.active {
      color: #fff; }
.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .nav-toggle:before, .nav-toggle:after {
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform; }
  .nav-toggle:before {
    background-color: #e84545;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .nav-toggle:after {
    background-color: #e84545;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s; }
  .nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 18px;
    z-index: 10;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .nav-toggle span:before, .nav-toggle span:after {
      background-color: #fff;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform 0.3s;
      -o-transition: -o-transform 0.3s;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }
    .nav-toggle span:before {
      -moz-transform: translateY(-6px) rotate(0deg);
      -ms-transform: translateY(-6px) rotate(0deg);
      -webkit-transform: translateY(-6px) rotate(0deg);
      transform: translateY(-6px) rotate(0deg); }
    .nav-toggle span:after {
      -moz-transform: translateY(6px) rotate(0deg);
      -ms-transform: translateY(6px) rotate(0deg);
      -webkit-transform: translateY(6px) rotate(0deg);
      transform: translateY(6px) rotate(0deg); }
  .nav-toggle.close-nav:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  .nav-toggle.close-nav:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  .nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0); }
    .nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
      background-color: #fff; }
    .nav-toggle.close-nav span:before {
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); }
    .nav-toggle.close-nav span:after {
      -moz-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      -webkit-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }

/* ==========================================================================
	$Banner
========================================================================== */
.banner {
  min-height: 650px;
  max-height: 750px;
  max-width: 100%; }

.banner-text {
  padding-top: 25%; }
  .banner-text h1 {
    color: #939393;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .banner-text p {
    color: #939393;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; }

.bodyy{
  background-color: #454ADE;
  height: 600px;
}
/* ==========================================================================
	$Features
========================================================================== */
.feature {
  margin-top: 50px;
  margin-bottom: 50px; }
  .feature-content {
    padding: 0 15px;
    margin-top: 30px; }
  .feature .icon {
    /*color: #e84545;  icons color*/
    color: whitesmoke;
    font-size: 60px; }
.social-icons, .footer .footer-share {
  margin-top: 30px; }
  .social-icons li, .footer .footer-share li {
    float: left; }
  .social-icons a, .footer .footer-share a {
    border: 1px solid #e8ecee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #FF4500;
    display: block;
    font-size: 18px;
    height: 40px;
    border-color:#454ADE;
    line-height: 40px;
    margin-right: 5px; /*space between icons*/
    text-align: center;
    width: 40px; }
    .social-icons a:hover, .footer .footer-share a:hover {
      background-color: #FF4500; /*animation color*/
      border-color: #FF4500;
      color: #fff; }

/* ==========================================================================
	$Testimonials
========================================================================== */
.testimonials {
  background-color: #53354a;
  position: relative; }
  .testimonials blockquote {
    border: 0;
    margin: 0;
    padding: 100px 15% 0; }
  .testimonials p {
    color: #fff;
    font: italic 36px "Cardo", Georgia, "Times New Roman", serif; }
  .testimonials cite {
    color: #fff;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase; }

/* ==========================================================================
	$Download
========================================================================== */
.download h3 {
  margin-top: 0; }
.download p {
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase; }
.download .btn {
  margin-top: 30px; }

/* ==========================================================================
	$Footer
========================================================================== */
.footer {
  background-color: whitesmoke;
  text-align: center; }
  .footer-top {
    padding-top: 50px; }
  .footer-bottom {
    padding: 20px 0; }
  .footer .footer-col {
    margin-bottom: 80px; }
  .footer h5 {
    color: #696969; }
  .footer h5 {
    margin-bottom: 20px; }
  .footer p {
    color: #778899/*rgba(255, 255, 255, 0.5)*/; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #e84545; }
  .footer .footer-share {
    margin-top: 0; }
    .footer .footer-share li {
      display: inline-block;
      float: none; }
    .footer .footer-share a {
      border-width: 2px;
      color: #454ADE; }
  .footer .fa-heart {
    color: #454ADE;
    font-size: 11px;
    margin: 0 2px; }
/* ==========================================================================
	Font Icon (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */
@font-face {
  font-family: "elegant-theme-line";
  src: url('../fonts/elegant-theme-line.ttf?1439850014') format('truetype'), url('../fonts/elegant-theme-line.eot?1439850014') format('embedded-opentype'), url('../fonts/elegant-theme-line.svg?1439850014') format('svg'), url('../fonts/elegant-theme-line.woff?1439850014') format('woff'); }
.icon {
  font-family: 'elegant-theme-line';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.change-lang{
  border-radius: 3px;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
box-shadow: 0;
appearance:  none;
outline: 0;
background: whitesmoke;
}
select::-ms-expand{
  display: none;
}
.select{
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: whitesmoke;
  overflow: hidden;
}